header a {
    color:#2D3319;
}

.imgtext {
    background: transparent;
    color: #fff;
}

.font-article{
    background: blue;
    color: #fff;
    width: 25%;
    float: left;
}

.smallfooter {
    background-color: #517664;
    color: #fff;
    text-align: center;
    font-size: small;
    height: 300px;
}

footer {
    background: #2D3319;
    color: #fff;
    height: 100px;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
  }